<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.senacsp.espacoshoramapp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Principal_Activity" />
        <activity android:name=".Area_Usuario_Activity" />
        <activity android:name=".Contato_Activity" />
        <activity android:name=".Tecnicas_Activity" />
        <activity android:name=".Agendamento_Activity"></activity>
    </application>

</manifest>